body {
        background-color: skyblue;
        min-height: 100vh; /* Asegurarse de que el contenedor cubra la altura completa */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        position: relative; /* Necesario para posicionar los elementos fijos */
    }
    #timeElapsed {
        display: flex;
        position: absolute;
        top: 6.9%; /* Mover al 50% desde el top */
        margin-top: 125px;
        left: 50%; /* Mover al 50% desde la izquierda */
        width: 90%;
        max-width: 605px;
        height: 80px;
        transform: translate(-50%, -50%); /* Centrar usando transform */
        background-color: rgba(255, 255, 255, 0.8);
        padding: 15px;
        border-radius: 15px;
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
        z-index: 10;
        font-family: 'Courier New', Courier, monospace; /* Tipografía del reloj */
    }
    
    #timeElapsed h3 {
        margin: auto 0;
        margin-top: center; 
        font-size: auto;
        color: #000000;
        text-align: center;
        font-size: bold; 
    }
    
    #time {
        display: flex;
        font-size: 2em;
        font-weight: bold;
        color: #111;
        letter-spacing: 0em;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px 15px;
        border-radius: 25px;
        box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
        justify-content: center;
        margin: auto 0;
        margin-top: center; 
       
    }
    
    #time span {
        margin: 0 0px;     
    }




